* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
    background-color: #1f2937;
}

#navbar-links {
    display: flex;
    flex-direction: row;
    gap: 8px;
    list-style: none;
}

#navbar-links li a {
    text-decoration: none;
}

#logo {
    font-size: 24px;
    font-weight: 500;
}

#container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 48px;
    gap: 128px;
    flex: auto;
}

#container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 48px;
    gap: 30px;
    flex: auto;
    background-color: whitesmoke;
}

#container-2 * {
    color: black;
}

.header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

#container-1-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 16px;
}

#container-1-1 button {
    max-width: 100px;
    font-size: 18px;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 8px;
    border-radius: 25px;
    border-color: #3882f6;
    box-shadow: 0 5px 5px black;
}

#container-1-1 button:hover
{
    transform: scale(1.1);
    transition: 0.5s ease;
    background-color: #0743a2;
    border-color: #0743a2;
}

#smellphoto {
    flex: 1 1 400px;
    box-shadow: 0 15px 15px black;
    max-width: 400px;
}

#hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#hero-subtext {
    font-size: 18px;
    color: #e5e7eb'
}

img {
    max-width: 150px;
}

.item-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item img {
    border-radius: 20px;
    border-color: #3882f6;
    border: 15px;
    box-shadow: 0 5px 5px black;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-basis: calc(25% - 16px);
    box-sizing: border-box;
}

.item p {
    text-align: center;
}

.block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    gap: 18px;
}

.block * {
    color: black;
    padding: 60px;
}

.block .quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.block .quote-author {
    font-weight: bold;
    font-size: 18px;
    align-self:flex-end;
    margin-right: 50px;
    margin-top: -100px;
}

.cta-container {
    background-color: #4285f4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-text h1 {
    margin: 0;
    font-size: 18px;
}

.cta-text p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.cta-container {
    background-color: #4285f4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-text h1 {
    margin: 0;
    font-size: 18px;
}

.cta-text p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.cta-parent {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}